<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nosso Trabalho</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>CONSULTORIA</h3>
              <p>
              • Auxiliar a empresa na tomada de algumas decisões;
              • Identificar pontos fortes e fracos;
              • Propor soluções às falhas;
              • Realizar palestras de implantação.
              </p>
                <img class="img-portfolio img-responsive" src="img/consultoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">Teste
                <img class="img-portfolio img-responsive" src="img/auditoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">Teste
                <img class="img-portfolio img-responsive" src="img/assessoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">Teste 
                <img class="img-portfolio img-responsive" src="img/treinamento.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
