<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>NOSSOS SERVIÇOS</h2>
        <h3>Nos destacamos pela Qualidade nos serviços executados, atendimento as demandas emergenciais e o comprometimento com os resultados e prazos estabelecidos pelo cliente, pois nosso trabalho é gerar facilidade para o seu negócio.</h3>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>CONSULTORIA</h3>
              <h4>Auxiliar a empresa na tomada de algumas decisões;</h4>
              <h4>Identificar pontos fortes e fracos;</h4>
              <h4>Propor soluções às falhas;</h4>
              <h4>Realizar palestras de implantação.</h4>
                <img class="img-portfolio img-responsive" src="img/consultoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>AUDITORIA</h3>
              <h4>Com objetivo em averiguar se as atividades pré-estabelecidas estão sendo realizadas em conformidade e se os objetivos traçados pela empresa estão sendo alcançados.</h4>
              <h4>Acompanhar o desempenho das operações e identificar possíveis falhas no setor de Departamento Pessoal.</h4> 
              <h4>Sugerindo ao setor e/ou a empresa a correção das falhas detectadas.</h4>
                <img class="img-portfolio img-responsive" src="img/auditoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>ASSESSORIA</h3>
              <h4>Prestar assessoria a empresa e ou ao DP com o objetivo de validar de forma correta a atender os dispositivos das legislações pertinentes as rotinas de departamento pessoal, e validar os eventos a serem transmitidos ao eSocial.</h4>
                <img class="img-portfolio img-responsive" src="img/assessoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>TREINAMENTOS</h3>
              <h4>Desenvolvemos treinamentos para trabalhar competências fundamentais para que você supere os desafios do dia-a-dia. O foco é o desenvolvimento comportamental para garantir a produtividade da organização tornando-a mais competitiva.</h4>
                <img class="img-portfolio img-responsive" src="img/treinamento.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nossos Treinamentos.</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>ROTINAS DE DEPARTAMENTO PESSOAL</h3>
              <h4>As rotinas de departamento pessoal compreendem a execução e o acompanhamento de questões burocráticas relacionadas aos trabalhadores.</h4>
              <h4>Sendo assim, o DP é um setor da empresa que desempenha funções de grande responsabilidade.</h4>
              <h4>Estas, exigem conhecimento da legislação trabalhista e de administração para garantir que direitos e deveres dos funcionários sejam cumpridos.</h4> 
                <img class="img-portfolio img-responsive" src="img/departamento.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>eSOCIAL</h3>
              <h4>eSocial - Impacto de uma nova era entre empregador,  governo e empregado.</h4>
              <h4>O eSocial é o instrumento de unificação da prestação das informações referentes à escrituração das obrigações fiscais, previdenciárias e trabalhistas e tem por finalidade padronizar sua transmissão, validação, armazenamento e distribuição, constituindo ambiente nacional.</h4>
              <h4>Decreto 8.373/2014.</h4>
                <img class="img-portfolio img-responsive" src="img/esocial.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>SEFIP/GFIP</h3>
              <h4>SEFIP - Sistema Empresa de Recolhimento do FGTS e Informações à Previdência Social.</h4>
              <h4>É um aplicativo que permite aos empregadores/contribuintes:</h4>
              <h4>. Consolidar os dados cadastrais e financeiros da empresa e dos trabalhadores.</h4>
              <h4>. Gerar a Guia de Recolhimento de FGTS (GRF) e o arquivo de informações a serem utilizados pelo fundo.</h4>
              <h4>Os arquivos gerados pela SEFIP tem a obrigatoriedade de ser transmitido pela internet no canal eletrônico Conectividade Social(na CAIXA), sendo destinado a todas as pessoas físicas ou jurídicas e contribuintes equiparadas à empresa, sujeitos ao recolhimento de FGTS, e à prestação de informações à Previdência Social.</h4>
              <h4>Sendo um aplicativo que permite a qualquer empregador gerar a GFIP – Guia de Recolhimento do FGTS e Informações à Previdência Social, e a GRPS – Guia de Recolhimento da Previdência Social.</h4>
              <h4>GFIP - Guia de Recolhimento de FGTS e de Informações à Previdência Social.</h4>
              <h4>Contém as informações de vínculos  empregatícios e remunerações, geradas pela SEFIP.</h4>
              <h4>Todas as empresas estão obrigadas a entregar a GFIP ainda que não haja recolhimento para o FGTS, caso em que está GFIP declaratória, contendo todas as informações cadastrais e financeiras de interesse da Previdência Social.</h4>
                <img class="img-portfolio img-responsive" src="img/sefipgfip.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>AUDITORIA TRABALHISTA</h3>
              <h4>Através da Auditoria Trabalhista, objetiva-se evitar incorreções e ônus adicionais nas rotinas laborais, como por exemplo:</h4>
              <h4>. Pagamentos a maior de verbas trabalhistas</h4>
              <h4>. Reclamatórias</h4>
              <h4>. Multas</h4>
              <h4>. Pagamentos indevidos ou a maior de INSS, FGTS, Contribuições Sindicais</h4>
              <h4>. Retenção indevida ou insuficiente do Imposto de Renda na Fonte</h4>
              <h4>Para isso é necessário um conjunto de técnicas e métodos a fim de analisar os seguintes documentos gerados pelo Departamento Pessoal das empresas:</h4>
              <h4>. Registro de Empregados </h4>
              <h4>. Admissões</h4>
              <h4>. Cartões de Ponto</h4>
              <h4>. Cálculos da folha de pagamento (horas extras, insalubridade, periculosidade, adicional noturno e outros)</h4>
              <h4>. Rescisões Contratuais</h4>
              <h4>. Férias e 13º Salário</h4>
              <h4>. Registro de Empregados</h4>
              <h4>. Banco de Horas</h4>
              <h4>. Salário Maternidade</h4>
              <h4>. Segurança e Medicina no Trabalho</h4>
              <h4>. Recolhimento de encargos</h4>
              <h4>. Controles Internos do Setor de RH</h4>
              <h4>. Infrações e penalidades aplicáveis</h4>
                <img class="img-portfolio img-responsive" src="img/trabalhista.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>BENEFÍCIOS PREVIDENCIÁRIOS (IMPACTOS DP)</h3>
              <h4>Benefícios previdenciários se constituem em importâncias pagas em dinheiro pela Previdência Social aos seus beneficiários.</h4>
              <h4>São diversos os tipos de benefícios, variando em função da idade, da condição física, da aptidão para o trabalho, enfim... são inúmeras essas situações.</h4>
              <h4>Os benefícios de prestação continuada se caracterizam por se constituírem em pagamentos mensais contínuos, até que determinado evento (como a morte, por exemplo) indique a sua extinção.</h4>
              <h4>Nesta categoria enquadram-se, por exemplo, os pagamentos de aposentadorias, pensões por morte, auxílios, rendas mensais vitalícias, abonos de permanência em serviço, os salários-família e maternidade e outros, alcançando um total de 67 espécies distintas.</h4>
                <img class="img-portfolio img-responsive" src="img/beneficios.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
