<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>SERVIÇOS</h2>
        <h3>Nos destacamos pela Qualidade nos serviços executados, atendimento as demandas emergenciais e o comprometimento com os resultados e prazos estabelecidos pelo cliente, pois nosso trabalho é gerar facilidade para o seu negócio.</h3>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>CONSULTORIA</h3>
              <p>
              Auxiliar a empresa na tomada de algumas decisões;
              Identificar pontos fortes e fracos;
              Propor soluções às falhas;
              Realizar palestras de implantação.
              </p>
                <img class="img-portfolio img-responsive" src="img/consultoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>AUDITORIA</h3>
              <p>
              Com objetivo em averiguar se as atividades pré-estabelecidas estão sendo realizadas em conformidade e se os objetivos traçados pela empresa estão sendo alcançados. Acompanhar o desempenho das operações e identificar possíveis falhas no setor de Departamento Pessoal. Sugerindo ao setor e/ou a empresa a correção das falhas detectadas.
              </p>
                <img class="img-portfolio img-responsive" src="img/auditoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>ASSESSORIA</h3>
              <p>
              Prestar assessoria a empresa/ e ou ao DP com o objetivo de validar de forma correta a atender os dispositivos das legislações pertinentes as rotinas de departamento pessoal, e validar os eventos a serem transmitidos ao eSocial.
              </p>
                <img class="img-portfolio img-responsive" src="img/assessoria.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>TREINAMENTOS</h3>
              <p>
              Desenvolvemos treinamentos para trabalhar competências fundamentais para que você supere os desafios do dia-a-dia. O foco é o desenvolvimento comportamental para garantir a produtividade da organização tornando-a mais competitiva.
              </p>
                <img class="img-portfolio img-responsive" src="img/treinamento.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Nossos Treinamentos.</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>ROTINAS DE DEPARTAMENTO PESSOAL</h3>
              <p>
              As rotinas de departamento pessoal compreendem a execução e o acompanhamento de questões burocráticas relacionadas aos trabalhadores.
              Sendo assim, o DP é um setor da empresa que desempenha funções de grande responsabilidade.
              Estas, exigem conhecimento da legislação trabalhista e de administração para garantir que direitos e deveres dos funcionários sejam cumpridos. 
              </p>
                <img class="img-portfolio img-responsive" src="img/departamento.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>eSOCIAL</h3>
              <p>
              eSocial - Impacto de uma nova era entre empregador,  governo e empregado.
              O eSocial é o instrumento de unificação da prestação das informações referentes à escrituração das obrigações fiscais, previdenciárias e trabalhistas e tem por finalidade padronizar sua transmissão, validação, armazenamento e distribuição, constituindo ambiente nacional.
              Decreto 8.373/2014.
              </p>
                <img class="img-portfolio img-responsive" src="img/esocial.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>SEFIP/GFIP</h3>
              <p>
SEFIP - Sistema Empresa de Recolhimento do FGTS e Informações à Previdência Social.
 

É um aplicativo que permite aos empregadores/contribuintes:

. Consolidar os dados cadastrais e financeiros da empresa e dos trabalhadores.

. Gerar a Guia de Recolhimento de FGTS (GRF) e o arquivo de informações a serem utilizados pelo fundo.
 

Os arquivos gerados pela SEFIP tem a obrigatoriedade de ser transmitido pela internet no canal eletrônico Conectividade Social(na CAIXA), sendo destinado a todas as pessoas físicas ou jurídicas  e contribuintes equiparadas à empresa, sujeitos ao recolhimento de FGTS, e à prestação de informações à Previdência Social. Sendo um aplicativo que permite a qualquer empregador gerar a GFIP – Guia de Recolhimento do FGTS e Informações à Previdência Social, e a GRPS – Guia de Recolhimento da Previdência Social.

​

GFIP - Guia de Recolhimento de FGTS e de Informações à Previdência Social.

​

Contém as informações de vínculos  empregatícios e remunerações, geradas pela SEFIP. Todas as empresas estão obrigadas a entregar a GFIP ainda que não haja recolhimento para o FGTS, caso em que está GFIP declaratória, contendo todas as informações cadastrais e financeiras de interesse da Previdência Social .
              </p>
                <img class="img-portfolio img-responsive" src="img/sefipgfip.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>AUDITORIA TRABALHISTA</h3>
              <p>
Através da Auditoria Trabalhista, objetiva-se evitar incorreções e ônus adicionais nas rotinas laborais, como por exemplo:

 

 . Pagamentos a maior de verbas trabalhistas

 . Reclamatórias

 . Multas

 . Pagamentos indevidos ou a maior de INSS, FGTS, Contribuições Sindicais

 . Retenção indevida ou insuficiente do Imposto de Renda na Fonte

​

Para isso é necessário um conjunto de técnicas e métodos a fim de analisar os seguintes documentos gerados pelo Departamento Pessoal das empresas:

​

 . Registro de Empregados 

 . Admissões

 . Cartões de Ponto

 . Cálculos da folha de pagamento (horas extras, insalubridade, periculosidade, adicional noturno e outros)

 . Rescisões Contratuais

 . Férias e 13º Salário

 . Registro de Empregados

 . Banco de Horas

 . Salário Maternidade

 . Segurança e Medicina no Trabalho

 . Recolhimento de encargos

 . Controles Internos do Setor de RH

 . Infrações e penalidades aplicáveis
              </p>
                <img class="img-portfolio img-responsive" src="img/trabalhista.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
              <h3>BENEFÍCIOS PREVIDENCIÁRIOS (IMPACTOS DP)</h3>
              <p>
              Benefícios previdenciários se constituem em importâncias pagas em dinheiro pela Previdência Social aos seus beneficiários. São diversos os tipos de benefícios, variando em função da idade, da condição física, da aptidão para o trabalho, enfim... são inúmeras essas situações. Os benefícios de prestação continuada se caracterizam por se constituírem em pagamentos mensais contínuos, até que determinado evento (como a morte, por exemplo) indique a sua extinção. Nesta categoria enquadram-se, por exemplo, os pagamentos de aposentadorias, pensões por morte, auxílios, rendas mensais vitalícias, abonos de permanência em serviço, os salários-família e maternidade e outros, alcançando um total de 67 espécies distintas.
              </p>
                <img class="img-portfolio img-responsive" src="img/beneficios.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      <h3>FACILIDADE EM GERAR RESULTADOS.</h3>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
